@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  overflow:visible;
}
body {
  overflow-x: hidden;
}
header {
  width: 1440px;
  height: 900px;
  background-image: linear-gradient(to bottom, orange, white);
}

a {
  text-decoration: none;
  color:black;
}
.logo {
  color: white;
  font-family: 'Montserrat';
  font-size: 30px;
  font-weight: 500;
  line-height: 37px;
  letter-spacing: 0em;
  position: relative;
  left: 135px;
  top: 150px;
}
.font {
  font-family: 'Montserrat';
  font-size: 25px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  position:relative;
  top: 10px
}
#font {
  font-weight: 900;
}
.head {
  display:grid;
  grid-template-columns: 60px 400px 200px 200px 200px 200px;
  margin-left: 130px;
  margin-top: 105px;
  overflow: hidden;
}
.logo-2 {
  position:relative;
  top: 2px;
  border-radius: 100px 100px;
  background-color: black;
  width: 50px;
  height: 50px;
  text-align: center;
}
.logo-2 img {
  position: relative;
  top: 14px;
  right: 2px;
}
.after-header {
  margin-top: 10px;
  margin-left: 130px;
  display: grid;
  grid-template-columns: 600px 800px;
}
.zakaz {
  padding-top: 200px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.zakaz h1 {
  font-family: 'Montserrat';
  font-size: 32px;
  font-weight: 800;
  line-height: 39px;
  letter-spacing: 0em;
  text-align: left;
}

.zakaz button {
  width: 120px;
  height: 50px;
  border-radius: 100px 100px;
  border-color: red;
  background-color: red;
  color: white;
  font-family: 'Montserrat';
  font-size: 20px;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0em;
  transition: 0.5s;
}
button:hover {
  transform: scale(1.2);
}
.menu {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-left: 20px;
  margin-top: 50px;
  gap: 30px;
}
.content h1 {
  text-align: center;
  padding-top: 50px;
  font-family: 'Montserrat';
  font-size: 45px;
  font-weight: 500;
  line-height: 55px;
  letter-spacing: 0em;
}
.menu-img{
  font-family: 'Montserrat';
  font-size: 35px;
  font-weight: 500;
  line-height: 43px;
  letter-spacing: 0em;
  text-align: center;
}
.footer {
  background-image: linear-gradient(to bottom, white, orange);
  height: 500px;
  text-align: center;
}
.footer-p {
  padding-top: 170px;
  display: flex;
  justify-content: space-evenly;
  font-family: 'Montserrat';
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
}
.footer-p a {
  display: inline-block;
  color: #000000; /* Цвет обычной ссылки */
  line-height: 1;
  text-decoration: none; /* Убираем подчеркивание */
  cursor: pointer;
}
.footer-p a:after {
  background-color: #ff2d03; /* Цвет линии при наведении на нее курсора мыши */
  display: block;
  content: "";
  height: 2px; /* Высота линии */
  width: 0%;
  -webkit-transition: width .3s ease-in-out;
  -moz--transition: width .3s ease-in-out;
  transition: width .3s ease-in-out;
}
.footer-p a:hover:after,
.footer-p a:focus:after {
  width: 100%;
}
h3 {
  font-family: 'Montserrat';
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
  padding-top: 50px; 
}
.footer-logo {
  display: flex;
  margin-top: 50px;
  margin-left: 660px;
}
.foot-logo {
  transition: 0.5s;
}
.foot-logo:hover {
  transform: rotate(360deg);
}
.img-1 {
  position: relative;
  bottom: 5px;
}

.all-a {
  text-shadow:
  1px 1px 0 hsl(0, 0%, 5%),
  2px 2px 0 hsl(0, 0%, 24%),
  3px 3px 0 hsl(0, 0%, 33%),
  4px 4px 0 hsl(0, 0%, 48%),
  5px 5px 0 hsl(0, 0%, 64%),
  6px 6px 0 hsl(0, 0%, 69%),
  7px 7px 0 hsl(0, 0%, 82%),
  8px 8px 0 hsl(0, 0%, 92%);
  color: hsl(0, 0%, 0%);
  transition: all 1s;
}

.all-a:hover {
  text-shadow:
  1px -1px 0 hsl(0, 0%, 100%),
  2px -2px 0 hsl(300, 1%, 77%),
  3px -3px 0 hsl(240, 0%, 61%),
  4px -4px 0 hsl(240, 0%, 51%),
  5px -5px 0 hsl(0, 0%, 40%),
  6px -6px 0 hsl(0, 0%, 21%),
  7px -7px 0 hsl(0, 0%, 13%),
  8px -8px 0 hsl(0, 0%, 1%);
  color: hsl(0, 0%, 100%);
}

#font {
  transition: 0.5s;
}

#font:hover {
  transform:translateY(-10px);
}

.butt {
  color: white;
}
#hover-image-gallery a img {
  transition: filter 0.5s linear;
  filter: brightness(2) grayscale(1) opacity(0.5);
}
#hover-image-gallery a:hover img {
  filter: none;
}